* {
  margin: 0;
}
.App {
  display: flex;
  flex-direction: row;
  flex: 20;
}
.input-side{
  flex: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}
.resume-side {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.form-box{
  margin-top: 47px;
  width: 75%;
  display: flex;
  justify-content: flex-start;
}
.form {
  width: 100%;
}
.form-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.back-button {
  position: absolute;
  top: 45px;
  left: 48px;
}

.text-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start
}
.name {
  display: flex;
  justify-content: space-between;
}
